Twisted==14.0.0
pyOpenSSL==0.14
cffi==0.8.2
cryptography==0.2.2
git+https://github.com/fiorix/cyclone.git@eb2f1122d1be4b1edb15b44669c0d7da69c634c5
pycparser==2.10
six==1.7.2
wsgiref==0.1.2
zope.interface==4.1.1
